{% extends 'base.html' %}
{% block d-title %}
    All JobCard's List
{% endblock d-title %} 

{% block d-content %} 

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12"> 
          <h1 class="m-0 text-dark float-left w-75">JobCard List</h1> 
          <a href="{% url 'users:add_jobcard' %}" class="btn btn-success float-right text-right">Add New JobCard</a>
        </div> 
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div> 
<section class="invest_request_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% for message in messages %}
                    <p class="float-left mb-1" style="color: red;">{{message}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-striped text-center">
                    <thead class="table-dark">
                        <th>SL</th>
                        <th>Type of Problem</th> 
                        <th>Sr No</th>
                        <th>Model No</th>
                        <th>JobCard On</th>
                        <th>Status</th> 
                        <th>Action</th>
                    </thead>
                    <tbody class="text-center">
                        
                        {% for j_list in j_list %}
                            <tr>
                                <td class="align-middle">{{forloop.counter}}</td>
                                <td class="align-middle">{{j_list.type_of_problem}}</td>
                                <td class="align-middle">{{j_list.sr_no}}</td>
                                <td class="align-middle">{{j_list.model_no}}</td>
                                <td class="align-middle">{{j_list.job_on}}</td>
                                <td class="align-middle"> 
                                    {% if j_list.status %}
                                        <span>Closed</span>
                                    {% else %}
                                        <span style="color: red;">Pending</span>
                                    {% endif %} 
                                </td>
                                <td class="align-middle text-center">
                                                            
<a href="{% url 'users:jobcard-approve' j_list.id %}" class="btn btn-warning btn-sm d-inline-block mr-1">Approve</a>
<a href="{% url 'users:jobcard-rejected' j_list.id %}" class="btn btn-success btn-sm d-inline-block mr-1">Reject</a>
                                                                     
                                </td> 
                                 
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section> 
{% endblock d-content %} 
{% block d-script %}
    <script> 
    </script>

{% endblock d-script %}